html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb {
  font-size: 13px;
  margin-bottom: 15px;
}
.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}
.el-table {
  width: 100%;
  margin-top: 15px;
  font-size: 13px;
}
.el-pagination {
  margin-top: 15px;
}
.el-cascader-panel {
  height: 204px;
}
.zk-table {
  margin-top: 15px;
  font-size: 13px;
}
.color-success {
  color: #67C23A !important;
}
.color-warning {
  color: #E6A23C !important;
}
.color-danger {
  color: #F56C6C !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.el-steps {
  margin: 20px 0;
}
.el-step__title {
  font-size: 13px;
}
.ql-editor {
  min-height: 400px;
}